.form {
  max-width: 400px;
  &__title {
    color: #fff;
    font-size: 3.6rem;
    font-weight: 500;
    margin-bottom: 40px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__row {
    position: relative;
    margin-bottom: 40px;
    width: 324px;
  }
  &__input {
    display: block;
    width: 100%;
    padding: 0 10px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    background: none;
    border-width: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    transition: all 0.2s ease;
    &:focus {
      outline: 0;
      border-color: #F77A52;
    }
    &:focus+label , &:valid+label {
      transform: translateY(-60px);
      margin-left: -14px;
      font-size: 1.2rem;
      font-weight: 400;
      outline: 0;
      border-color: #F77A52;
      color: #F77A52;
    }
  }
  &__label {
    position: absolute;
    left: 13px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.6rem;
    font-weight: 400;
    transform: translateY(-35px);
    transition: all 0.2s ease;
  }
  &__submit {
    position: relative;
    margin: 0;
  }
  &__btn {
    width: 100%;
    font-size: 0;
    background: none;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
  }
  &__img {
    width: 30px;
    height: 20px;
  }
}