//bacgrounds
$body-bg: #ff55;
$main-color: #fff;

//fontSize
$large-font: 50px;
$medium-font: 36px;
$normal-font: 24px;
$small-font: 15px;



//fonts
$basic-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
