.general {
  color: #fff;
  padding-bottom: 56px;
  padding-top: 70px;
  background: linear-gradient(111.34deg,rgba(0,0,0,.8) 0,rgba(17,6,85,.8) 36.63%,rgba(35,14,164,.8) 62.72%,rgba(0,209,255,.736) 100%) center/cover,linear-gradient(0deg,rgba(0,0,0,.4),rgba(0,0,0,.4)) center/cover,url(../img/Healthfully.jpg) center/cover;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 170px;
  }
  &__title {
    font-size: $large-font;
    line-height: 57px;
    text-align: center;
    font-weight: 400;
    max-width: 600px;
    text-transform: uppercase;
  }
  &__subtitle {
    margin-top: 70px;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 31px;
    max-width: 720px;
    text-align: center;
    &>span {
      font-size: 2.4rem;
      line-height: 40px;
      color: var(--accent-color);
      font-weight: 700;
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    gap: 77px;
    margin-top: 77px;
  }
  &__enroll-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.015em;
    width: 160px;
    height: 46px;
    background: rgba(6, 214, 160, 0.8);
    box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    cursor: pointer;

  }
  &__services-btn {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: 0.015em;
    color: #06D6A0;
    cursor: pointer;
  }
  &__services-img {
    width: 46px;
    height: 46px;
    object-fit: cover;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 136px;
  }
  &__language {
    display: flex;
    gap: 7px;

    &-item {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 22px;
      letter-spacing: 0.05em;
      cursor: pointer;
      outline: none;
      background: none;
      border: none;
      color: #fff;
      &--active {
        font-weight: 700;
      }
    }
  }
  &__nextSectionBtn {
    align-self: center;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
  }
}