.general {
  color: #fff;
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 170px;
  }
  &__title {
    font-size: $large-font;
    line-height: 57px;
    text-align: center;
    font-weight: 400;
    max-width: 653px;
    text-transform: uppercase;
  }
  &__subtitle {
    margin-top: 70px;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 31px;
    max-width: 720px;
    text-align: center;
    &>span {
      font-size: 2.4rem;
      line-height: 40px;
      color: var(--accent-color);
      font-weight: 700;
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    gap: 77px;
    margin-top: 77px;
  }
  &__enroll-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.015em;
    width: 160px;
    height: 46px;
    border-radius: 50px;
    background-color: #06D6A0;
  }
  &__services-btn {
    display: flex;
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: 0.015em;
    color: #06D6A0;
  }
  &__services-img {
    width: 46px;
    height: 46px;
  }
  &__footer {
    display: flex;
    margin-top: 136px;
  }
  &__language {
    display: flex;
    gap: 7px;
    list-style: none;
    &-item {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 22px;
      letter-spacing: 0.05em;
    }
  }
  &__nextSectionBtn {
    align-self: center;

  }
}