.team {
  background-color: #fff;
  padding-bottom: 90px;
  &__wrapper {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
  }
  &__person {
    padding: 30px 44px;
    transition: all 0.2s ease-in;
    &-photo {
      width: 182px;
      height: 182px;
      border-radius: 50%;
      border: 1px solid #06D6A0;
      object-fit: cover;
      object-position: center top;
    }
    &-name {
      font-size: 2.4rem;
      font-weight: 400;
      color: #000952;
      margin-top: 18px;
    }
    &-text {
      font-size: 1.5rem;
      font-weight: 300;
      margin-top: 15px;
      text-align: center;
    }
    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 160px;
      height: 46px;
      margin-top: 33px;
      border: 1px solid #06D6A0;
      box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.3);
      border-radius: 50px;
      font-size: 1.4rem;
      font-weight: 400;
      color: #06D6A0;
      text-decoration: none;
      transition: all 0.2s ease-in;
      &:hover {
        color: #fff;
        background: #06D6A0;
        border:none;
      }
    }
    &:hover {
      background: #FFFFFF;
      box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.03);
      border-radius: 30px;
    }
  }
  &__doctors {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 55px;
    font-size: 1.5rem;
    font-weight: 400;
    color: #000952;
    text-decoration: none;
    &:after {
      content: "";
      width: 42px;
      height: 42px;
      background-image: url(.././img/ServicesArrow.webp);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}